<ion-header>
  <ion-toolbar color="primary">
    <ion-title>服务协议和隐私政策</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      请你务必审慎阅读，充分理解“服务协议”和“隐私政策”各条款，包括但不限于：为了向你提供即时通讯、内容分享等服务，我们需要收集你的设备信息。你可以在“设置”中查看、变更、删除个人信息并管理你的授权。你可阅读<a [routerLink]="">《服务协议》</a>和<a [routerLink]="">《隐私政策》</a>了解详细信息。如你同意，请点击“同意”开始接受我们的服务。
    </ion-card-content>
  </ion-card>
  <ion-item lines="none">
    <ion-button fill="outline" slot="start">暂不使用</ion-button>
    <ion-button fill="outline" slot="end">同意</ion-button>
  </ion-item>
</ion-content>